#body{
    background-color: #51e3f0;
}
#header{
    text-align: center;
    background-color: white;
    border: .25rem solid black;
    margin-bottom: .25rem;
    margin-top: .25rem;
}

#nameRow:hover{
    filter: brightness(55%);
}

#errors{
    text-align: center;
    background-color: white;
    border: .25rem solid black;
    margin-bottom: .25rem;
    margin-top: .25rem;
    display: none;
}